<%- include('header', {title: `${result[0].book_title}`}); -%>

  <body>
    <div class="container">
      <%- include('navBar',{username : `${username}`}); -%>
        <div class='book-body'>
          <div class='book p-2 m2'>
            <div class="fixed-img p-2 m-2">
              <img class="img-fluid" src="/<%=result[0].photo%>">
            </div>
            <div class="novel-info p-2 m-2 ">
              <div class="main-header">
                <h1 class="p-2 m-2">
                  <%=result[0].book_title%>
                </h1>
                <div class="author p-2 m-2">
                  <span><strong>Author:</strong>
                    <%=result[0].author%>
                  </span>
                </div>
                <div class="chapters p-2 m-2">
                  <span><strong>Chapters:</strong>
                    <%=result[0].chapters%>
                  </span>
                </div>
                <div class="chapters p-2 m-2">
                  <span><strong>Book Type :</strong>
                    <%= result[0].type_name %>
                  </span>
                </div>
                <div class="chapters p-2 m-2">
                  <span class=""><strong>URL :</strong>
                    <a class="btn btn-dark view-btn" href="<%= result[0].book_url %>" target="_blank">Go to website</a>
                  </span>
                </div>
              </div>
              <div class="categories p-2 m-2">
                <div>
                  <strong>Genres : </strong>
                  <% result.forEach((item)=>{%>
                    <span class='genre'>
                      <%= item.genres_name %>
                    </span>
                    <%}) %>
                </div>
              </div>
              <div class="add-to-library ">
                <div class="d-flex align-items-center">
                  <form action='/library/addToUserLibrary' method="POST" class="post-form ">
                    <span><b>Add: </b></span>
                    <input class="form-control" type="hidden" name='book_id' value='<%=result[0].id%>'>
                    <button type="submit" class="btn btn-secondary book-button  fa fa-plus"> Add To Library</button>
                  </form>
                  <div class='px-2'>
                    <a href="/library/<%=result[0].id%>/comment " class="btn btn-secondary book-button fa fa-plus">Add
                      Comments</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chapters p-3 m-3">
            <span>
              <h4>Summary:</h4>
              <hr>
              <%= result[0].summary %>
            </span>
          </div>

          <div class="chapters p-3 m-3">
            <span>
              <h4>Comments :</h4>
              <hr>
              <% for(var i=0; i<comments.length; i++) {%>
                <Span>
                  Username: <%= comments[i].username %>
                    <br>
                    Comment : <%= comments[i].comments %>
                </Span>
                <br>
                <br>
                <% } %>
            </span>
          </div>
        </div>

    </div>
    <%- include('footer'); -%>