<%- include('header', {title: `Edit Chapter`}); -%>


  <body>
    <div class="container">
      <%- include('navBar',{username : `${username}`}); -%>
        <div class="row over d-flex justify-content-center">
          <% for(var i=0; i<result.length; i++) {%>
            <div class="card m-2 " style="width: 12rem;">
              <img class="card-img-top image_size" src="/<%= result[i].photo %> " alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <%=result[i].book_title%>
                </h5>
                <p class="card-text"> Author : <%=result[i].author%>
                </p>
                <p class="card-text">
                  <%=result[i].chapters%> Chapters
                </p>
                <form action="/library/editBook/<%=result[i].id%>/edit?_method=PUT" method="POST">
                  <p class="card-text">
                    <label class="form-label" for="current_chapter">Current Chapter</label>
                    <input class="form-control" name="book_id" type="hidden" value="<%= result[i].book_id  %> ">
                    <input class="form-control" type="number" id="current_chapter" name="current_chapter"
                      value="<%=result[i].current_page_chapter%>" /><br />
                  </p>
                  <button class="btn btn-primary view-btn submit">Update</button>

                </form>


              </div>
            </div>
            <% } %>
        </div>
        <%- include('footer'); -%>