<%- include('header', {title: `User Library`}); -%>

  <body>
    <div class="container">
      <%- include('navBar',{username : `${username}`}); -%>
        <div class="row over d-flex justify-content-center">
          <% for(var i=0; i<result.length; i++) {%>
            <div class="card m-2 " style="width: 12rem;">
              <img class="card-img-top image_size" src="/<%= result[i].photo %> " alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <%=result[i].book_title%>
                </h5>
                <p class="card-text"> Author : <%=result[i].author%>
                </p>
                <p class="card-text">
                  <%=result[i].chapters%> Chapters
                </p>
                <p class="card-text1">
                  Current Chapter: <%=result[i].current_page_chapter%>
                </p>
                <p class="card-text1">
                  Last Read: <%=result[i].last_read%>
                </p>
              </div>
              <div class="d-flex flex-column">
                <!-- <a href="book/<%=result[i].id%>" class="btn btn-primary view-btn">View</a> -->
                <a href="editBook/<%=result[i].id%>/edit" class="btn btn-secondary view-btn fa fa-pencil">Edit</a>
                <form action="deleteBook/<%=result[i].book_id%>/delete?_method=DELETE" method="POST" class="">
                  <button class="btn btn-danger submit fa fa-trash" type="submit">Delete</button>
                </form>
              </div>



            </div>
            <% } %>

        </div>
        <%- include('footer'); -%>